# Python environment
.venv/

# Image files
*.png

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of go build
/build/
bin/
dist/
tmp/

# Vendor directory (if not committing vendored dependencies)
vendor/

# Go workspace file
go.work
go.work.sum

# IDE/editor-specific
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db